.header{
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header nav{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .links{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header .link{
  color: white;
  transition: .2s linear;
  position: relative;
  padding-bottom: .2rem;
}
.header .link:hover{
  color: gray;
}
.header .link::after{
  width: 0%;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: white;
  transition: .3s linear;
}
.header .link:hover::after{
  width: 100%;
  background-color: gray;
}

.header img{
  width: 80px;
  height: 70px;
  cursor: pointer;
}
.community{
  padding: .7rem 1rem;
  background-color: rgb(0, 102, 226);
  color: white;
  border-radius: 10px;
  transition: .2s linear;
}
.community:hover{
  opacity: .8;
}
/* hide mobile screens here */
.mobile{
  display: none;
}

/* media querry for responsiveness */
@media screen and (max-width: 811px){
  .header .links .link{
    display: none;
  }
  .header .community{
    display: none;
  }

  /* mobile menu */
  .mobile{
    display: flex;
    cursor: pointer;
    padding: .3rem 0;
  }
  .mobile .menu-icons{
    width: 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .mobile .menu-icons div{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 20px;
    transition: all .5s ease-in;
  }
  .first{
    transform: rotate(45deg) translate(.3rem, .5rem);
  }
  .second{
    display: none;
  }
  .third{
    transform: rotate(-45deg) translate(0rem, -.2rem);
  }
  .mobile 
  .mobile-links{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 5rem;
    right: 0rem;
    z-index: 100;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .mobile 
  .mobile-links2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 4rem;
    right: -50rem;
    z-index: 100;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-links-div{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
 }
 .community-mobile{
  padding: .7rem 1rem;
  background-color: rgb(0, 102, 226);
  color: white;
  border-radius: 10px;
  transition: .2s linear;
}
}

@media (max-width: 585px){
  .mobile 
  .mobile-links2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 5rem;
    right: -50rem;
    z-index: 100;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}