.about-section{
    width: 100%;
    min-height: 100vh;
}
.about-section .about{
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 3rem;
}
.about-section .about h2{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    opacity: .7;
    margin-bottom: 2rem;
}
.developer-text{
    width: 85%;
    min-height: 100vh;
    margin: 0 auto;
    /* background-color: pink; */
    display: flex;
    gap: 2rem;
}
.developer-text .developers{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
    flex: 1;
    margin-bottom: 8rem;
    margin-top: 5rem;
}
.developer-text .developers .first-group, .developer-text .developers .second-group{
    padding: .2rem .3rem;
    height: 100%;
}
.developer-text .developers .first-group{
    margin-top: 6rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: .7rem;
}
.developer-text .developers .first-group div:first-of-type{
    background-image: url(../../components/images/aboutImgs/elvis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.developer-text .developers .first-group div:last-of-type{
    background-image: url(../../components/images/aboutImgs/pic-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.developer-text .developers .first-group div{
     border-radius: 20px;
}
.developer-text .developers .second-group{
    margin-bottom: 6rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: .7rem;
    overflow: hidden;
}
.developer-text .developers .second-group div:first-of-type{
    background-image: url(../../components/images/aboutImgs/pic-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.developer-text .developers .second-group div:last-of-type{
    background-image: url(../../components/images/aboutImgs/pic-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.developer-text .developers .second-group div{
    border-radius: 20px;
}

/* about text */
.about-text{
    flex: 1;
}
.about-text h3{
    font-size: clamp(1.3rem, 10vw, 1.9rem);
    opacity: .7;
}
.about-text p{
    font-size: clamp(.9rem, 10vw, 18px);
    margin-top: 1rem;
    line-height: 35px;
    opacity: .7;
}

/* media quesries */
@media (max-width: 1049px){
    .developer-text{
        width: 100%;
    }
}

@media (max-width: 810px){
    .about{
        width: 100%;
    }
    .developer-text{
        flex-direction: column-reverse;
    }
    .developer-text .developers .first-group{
        margin-top: 0;
    }
    .about-section .about h2{
        text-align: center;
    }
    .about-text h3{
    text-align: center;
    margin-bottom: 1rem;
    }
    .about-text h3{
        text-align: center;
    }

}

@media(max-width:414px){
    .developer-text .developers{
        grid-template-columns: 1fr;
    }
}