/* Cultures page */
.container-culture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    background: var(--neutral-color);
    /* font-family: Arial, sans-serif; */
  }
  h3{
	text-align: center;
	position: relative;
  }

  
  /* Tribe Cards */
  .tribe-cards {
    display: flex;
    gap: 30px;
    text-align: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 30%;
	overflow-y: auto;
	
	/*padding-top: 100px;*/
  }

  @media screen and (max-width:800px) {
	  .tribe-cards {
	height: 100%;
	padding-top: 100px;
	padding-bottom: 15px;
  }
  
  }
  
  .tribe-card {
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-color-dark);
    color: var(--neutral-color);
    width: 200px;
    box-shadow: 0px 2px 4px hsla(0, 0%, 20%, 0.3);
    transition: .3s;
  }

  .tribe-card:hover{
    transform: scale(1.1);
  }
  
  /* Selected Tribe Card */
  .tribe-card.selected {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 123, 255, 0.2);
  }
  
  /* Content Section */
  .content {
    display: flex;
   height: 100dvh;
   padding-top: 4%;
  }
  
  .subtitle{
	font-weight: 700;
  }
  .tc{
	text-align: center;
  }
  .sidebar {
    flex: 1;
    background-color: var(--primary-color-dark);
    border-right: 2px solid gray;
    padding: 1rem;
}
.sidebar h2{
    color: var(--neutral-color);
    margin-left: 1rem;
    text-align: left;
}
  .sidebar ul{
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
  .sidebar ul li{
    text-align: left;
    padding-bottom: 1rem;
    font-weight: 500;
    color: var(--neutral-color);
  }
  .sidebar ul li:hover{
    cursor: pointer;
    color: var(--main-color-blue);
  }

  .topic-content {
    flex: 3;
    padding: 20px;
    overflow: scroll;
  }
  .intro,.conclusion{
	text-align: justify;
	margin: 25px 0;
	word-spacing: 1px;
  }
  .points{
	text-align: start;
  }
  .points ol {
	display: flex;
	flex-direction: column;
	gap: 25px;
	line-height: 30px;
	padding-left: 20px;
  }
  .details{
	text-align:start;

  }
  
  .topic-content-firt-p{
    padding-top: 1rem;
  }
  .sidebar h2 {
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-item {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .sidebar-item.active {
    background-color: #007bff;
    color: #fff;
  }
  .ytvids{
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
  }
  .p1 h4,.p2 h4,.p3 h4{
	font-size: 18px;
  }
  .p1 ,.p2 ,.p3{
	padding: 10px 0;
	text-align: justify;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
	  overflow-y: auto;
	   width: 100%;
		padding-top: 20%;
    }

  }
  